div.ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  
  div.ion-text-center ion-img.logo {
    max-width: 25%; /* Ajusta el tamaño máximo según tus preferencias */
    max-height: 80vh;
    margin: 0 auto; /* Centra horizontalmente la imagen */
    
  }
  