<ion-content class="ion-padding ion-text-center ion-align-items-center">
  <ion-card>
    <ion-card-header>
      Inicio de sesión
    </ion-card-header>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </form>
    <!-- Agregamos [routerLink] para redirigir a la página "menu" -->
    <ion-button expand="full" [routerLink]="['/menu']">INGRESAR</ion-button>
  </ion-card>
  <ion-content>
    <div class="ion-text-center">
      <ion-img src="assets/logo.png" class="logo"></ion-img>
    </div>
  </ion-content>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" class="ion-justify-content-center">
      <ion-button [routerLink]="['/registro']">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


