<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editarUsuario()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="user-profile">
    <ion-card-content>
      <div [ngClass]="{'user-image': imagenPerfil !== 'assets/default-profile-image.png', 'no-user-image': imagenPerfil === 'assets/default-profile-image.png'}">
        <ion-img [src]="imagenPerfil"></ion-img>
        <input type="file" accept="image/*" (change)="cargarImagenPerfil($event)" [disabled]="!editMode" />
      </div>
      <div class="user-details">
        <h2>{{ nombreCompleto }}</h2>
        <p>{{ correoElectronico }}</p>
        <p>Editar contraseña</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
