<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToUserPage()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
      <ion-icon name="map-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Ingreso de datos:
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-button (click)="obtenerNombreLugar()">
          Ubicación actual
        </ion-button>
        <ion-item>
          <ion-label></ion-label>
          <ion-input [(ngModel)]="nombreDelLugar" disabled="true"></ion-input>
        </ion-item>
        <ion-label position="floating">Nombre negocio/empresa</ion-label>
        <ion-icon name="map-outline" slot="start"></ion-icon>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-input type="text" value="$"></ion-input>
      </ion-item>

      <ion-item class="centered-button">
        <ion-icon name="camera" slot="start"></ion-icon>
        <label class="custom-button" (click)="abrirCamara()">
          INSERTAR IMAGEN
        </label>
        <ion-input type="text" readonly></ion-input>
      </ion-item>
      
      <ion-list>
        <ion-item *ngFor="let image of images; let i = index">
          <img src="{{ image }}" alt="Imagen" class="thumbnail-image">
          {{ getImageName(image) }} 
          <ion-icon (click)="eliminarImagen(i)" name="trash" slot="end"></ion-icon> 
        </ion-item>
      </ion-list>
      
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Extras:
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Notas</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>¿Desea devolución?</ion-label>
        <ion-toggle [(ngModel)]="toggleValue" (change)="toggleChange()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="toggleValue">
        <ion-label>Socio:</ion-label>
        <ion-select>
          <ion-select-option value="Ignacia">Ignacia</ion-select-option>
          <ion-select-option value="Fabian">Fabian</ion-select-option>
          <ion-select-option value="David">David</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

